<!DOCTYPE html>
<html>
  <head>
    <title>Resset Password Code</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #4a4a4a;
        background-color: #f0f4f9;
        padding: 20px;
      }
      .email-container {
        max-width: 600px;
        margin: auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        border-top: 4px solid #006998;
      }
      a,
      a:visited {
        color: #006998; /* Binance yellow */
        text-decoration: none;
      }
      a:hover,
      a:active {
        text-decoration: underline;
      }
      .header {
        background-color: #000000;
        color: #fff;
        padding: 10px;
        border-radius: 4px 4px 0 0;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
      }
      .footer {
        margin-top: 20px;
        font-size: 12px;
        text-align: center;
        color: #000000;
      }
      .button {
        display: inline-block;
        background-color: #006998;
        color: white !important;
        padding: 10px 20px;
        border-radius: 4px;
        margin: 20px 0;
        text-align: center;
        text-decoration: none;
      }
    </style>
  </head>
  <body style="background-color: #a8cbf7">
    <br><br>
    <div class="email-container">
      <div class="header"> Reset code </div>
      
      <p>
        Reset code
      </p>
      <h2><%= url %></h2>


    
      </div>
    </div>
  </body>
</html>
